
.picture-background{
background-image:linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)),url("../img/fact-img/antarctica.jpg");
background-position:center;
background-size:cover;
}




.main-home-nav{
   background-color: rgba(1, 87, 155, 0.7);
}

.main-home-nav:after,
.main-home-nav:before{
    background-color: rgba(1, 87, 155, 0.7);
}
