

.picture-background{
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)),url(../img/favorite/favorite.jpg);
    background-position: center;
    background-size: cover;
}



.main-home-nav{
   background-color: rgba(213, 0, 0, 0.5 );
}

.main-home-nav:after,
.main-home-nav:before{
    background-color: rgba(213, 0, 0, 0.5);
}

   
