

.picture-background{
    
    background-image:linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)),url(../img/fact-img/r4.jpeg);
    background-position: center;
    background-size: cover;
}



.main-home-nav{
   background-color: #212121;
}

.main-home-nav:after,
.main-home-nav:before{
    background-color:#212121;
}

   
