/* Main property for all pages */
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    text-rendering: optimizeLegibility;
    
}

/* Sliders text format */
span{
    font-size: 150%;
    font-weight: 400;
    text-transform: uppercase;
    word-spacing: 4px;
    letter-spacing: 1px;
    color: white;
    text-align: center;
    z-index: 999999;
    position: relative;
    top:50%;
    transform: translate(0,-60%);
    
}



.swiper-custom {
  position:relative;
  height:100%;
}
.swiper-container {
  height:100%;
}
.swiper-slide {
  background: transparent;
    
}
.swiper-slide span {
  text-align:center;
  display:block;
  margin: 20px;
  font-size:21px;
    background:transparent;
    
}
.swiper-pagination-bullet {
    display: none;
  width: 10px;
  height: 10px;
  background: none;
  border:1px solid #aaa;
  border-radius: 0 0 0 0;
  opacity:1;
  cursor: pointer;
}
.swiper-pagination-bullet-active {
  background: #007aff;
  border-color: #007aff;
}   


/* Side menu */
.side-menu{
    list-style: none;
    
    
}


.side-menu .side-menu-item a{
    
    font-size: 150%;
    display: inline-block;
    position: relative;
    margin: 5px 0px;
    padding: 10px;
    letter-spacing: 1px;
    color: white;
    
  
}

/*Side menu icon*/
.menu-icon{
    display:inline;
    width: 15%;
    height: auto;
    position: relative;
    top: 5px;
}



/* Menu-button*/
.fa-bars{
    color: white;
    font-size: 110%;
    
}

/* Bottom button */
#bottom-btn-copy-hidden,
#bottom-btn-forward-hidden,
#bottom-btn-favorite-hidden,
#bottom-btn-share-hidden{
     top: -5px;
}

#bottom-btn-copy-hidden{
    color:#fff;
    margin: 20px;
    display: none;
}


#bottom-btn-forward-hidden{
    color:#fff;
    margin: 20px;
    display: none;
}
#bottom-btn-favorite-hidden{
    color:#fff;
    margin: 20px;
    display: none;
}
#bottom-btn-share-hidden{
    color:#fff;
    margin: 20px;
    display: none;
   
}
/*text-copied*/
.text-copied{
    font-size: 1em;
    position: absolute;
    color: rgba(255, 255, 255, 0.59);
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 10px 20px;
    background-color: rgba(116, 113, 113, 0.42);
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: none;
}


/* Icon Pop */
@-webkit-keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
@keyframes hvr-icon-pop {
  50% {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
  }
}
.hvr-icon-pop {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  padding-right: 2.2em;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-icon-pop:before {
  content: "\f005";
  position: absolute;
  right: 1em;
  padding: 0 1px;
  font-family: FontAwesome;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-icon-pop:hover:before, .hvr-icon-pop:focus:before, .hvr-icon-pop:active:before {
  -webkit-animation-name: hvr-icon-pop;
  animation-name: hvr-icon-pop;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*Side panel */
.panel-cover{
 background-color:#202021;
}



.close-btn{
    color: white;
    position: absolute;
    top: 2px;
    left: 6px;
}


 